@model TravalApp1.Models.RakutenApiResponse

<h2>Hotels</h2>

<ul>
    @foreach (var hotel in Model.Hotels)
    {
        <li>
            <h3>@hotel.HotelName</h3>
            <p>@hotel.Address1 @hotel.Address2</p>
            <a href="@hotel.HotelInformationUrl">More Info</a>
            <img src="@hotel.HotelImageUrl" alt="@hotel.HotelName" />
        </li>
    }
</ul>
