@model TravelApp.Models.SearchResultsViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Hotel Listings</title>
</head>
<body>
    <h1>Available Hotels</h1>

    @if (Model?.Hotels != null && Model.Hotels.Any())
    {
        <ul>
            @foreach (var hotel in Model.Hotels)
            {
                <li>
                    <strong>@hotel.HotelName</strong><br />
                    Address: @hotel.Address<br />
                    Price: @hotel.Price yen<br />
                    <img src="@hotel.ImageUrl" alt="@hotel.HotelName" /><br />
                    Description: @hotel.Description
                </li>
            }
        </ul>
    }
    else
    {
        <p>No hotels found.</p>
    }
</body>
</html>
